@model tl2_tp4_2022_loboser.ViewModels.AltaPedidoViewModel


@{
    ViewData["Title"] = "Alta Pedido";
}


<h1>@ViewData["Title"]</h1>

<form asp-action="AltaPedido" method="post">
    <label asp-for="Obs">Observación
    <input asp-for="Obs"></label><br>
    <label asp-for="Estado">Estado
    <input asp-for="Estado" value="En Proceso" readonly="readonly"></label><br>
    <button type="submit">Enviar</button>
</form>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }