@model tl2_tp4_2022_loboser.ViewModels.EditarPedidoViewModel

@{
    ViewData["Title"] = "EditarPedido";
}

<body>
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>
    <main>
        <form asp-controller="Pedido" asp-action="EditarPedido" method="post">
            <input type="hidden" asp-for="Nro" value="@Model.Nro">
            <input type="hidden" asp-for="Estado" value="@Model.Estado">

            <div class="row mb-3">
                    <label class="col-sm-3 col-form-label" asp-for="Obs">Observación:</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" asp-for="Obs" value="@Model.Obs" placeholder="Observación">
                    </div>
                </div>
            <button type="submit">Guardar</button>
        </form>
    </main>
</body>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }
