@model tl2_tp4_2022_loboser.ViewModels.RegistroViewModel

@{
    ViewData["Title"] = "Registro";
}

<body>
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>
    <main>
    <form asp-controller="Usuario" asp-action="Registro" method="post">
        <input type="hidden" asp-for="Rol" value="Cliente">
        <input type="hidden" asp-for="IdCadete" value="0">

        <div class="row mb-3">
            <label class="col-sm-3 col-form-label" asp-for="Nombre">Nombre</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" asp-for="Nombre" placeholder="Nombre">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label" asp-for="Direccion">Dirección</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" asp-for="Direccion" placeholder="Dirección">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label" asp-for="DatosReferenciaDireccion">Datos de Referencia (Dirección)</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" asp-for="DatosReferenciaDireccion" placeholder="Datos de Referencia Dirección">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label" asp-for="Telefono">Teléfono</label>
            <div class="col-sm-6">
                <input class="form-control" type="tel" asp-for="Telefono" placeholder="Teléfono">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label" asp-for="User">User</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" asp-for="User" placeholder="Nombre de Usuario">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label" asp-for="Pass">Contraseña</label>
            <div class="col-sm-6">
                <input class="form-control" type="password" asp-for="Pass" placeholder="Contraseña">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label" asp-for="ConfirmPass">Repetir Contraseña</label>
            <div class="col-sm-6">
                <input class="form-control" type="password" asp-for="ConfirmPass" placeholder="Repetir Constraseña">
            </div>
        </div>
        <div class="row mb-3">
            <div class="offset-sm-3 col-sm-3 d-grid">
                <input class="btn btn-primary" type="submit" value="Enviar">
            </div>
            <div class="col-sm-3 d-grid">
                <input class="btn btn-danger" type="reset" value="Borrar">
            </div>
        </div>
    </form>
    </main>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}